.appointment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.appointment-container{
    margin: 50px
}
.apt-btn{
    margin:20px 0px;
}
.button-custom{
    padding: 7px 35px;
    border-radius: 10px;
    margin:10px;
}
.custom-text{
    color: white;
    text-decoration: none;
}