.form-container{
    width:50%;
    border: 1px solid black;
    box-shadow: 0px 0px 20px;
    border-radius: 10px;
}
.container-parent{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.form-check-label{
    display: flex;
}